spring:
  application:
    name: inventory-service

  profiles:
    active: dev

  config:
    import: optional:configserver:http://localhost:8888

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

  datasource:
    url: jdbc:mysql://localhost:3306/paymentdb
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

server:
  port: 8083

# ================= BUSINESS CONFIG =================
kafka:
  topics:
    paymentSuccess: payment-success
    paymentFailed: payment-failed

# ================= EUREKA =================
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
