server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/nikhilkumar33/kode-ecom-microservice.git
          default-label: main
          clone-on-start: true 
          search-paths: configuration